/* css is hard */

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://unpkg.com/nes.css@latest/css/nes.min.css');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #121314; 
  color: #fff; 
}

.nes-container {
  margin-bottom: 20px;
  width: 80%; 
  max-width: 800px; 
}
.nes-container.with-title {
  border-color: #a3a3a3;
}
.nes-container.is-dark {
  background-color: #1d1d1d; 
}
.title {
  color: #fff;
}
.nes-btn.is-primary {
  background-color: #007bff; 
}
.nes-btn.is-primary:hover {
  background-color: #0056b3; 
}
